:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #F1F1F1;
    --color-primary: #5900E7;
    --color-secondary: #7CE2FD;
    --border: 1px solid var(--color-black);
}

@font-face {
    font-family: "PP Object Sans";
    src:
      local("PP Object Sans"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.otf") format("opentype"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.woff") format("woff"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    font-family: "PP Object Sans";
}

.headline {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.56px;
    text-align: center;
    margin: 71px 0px;
}

.slider {
    display: grid;
    grid-template-rows: fit-content;
    grid-template-columns: repeat(3, minmax(0, auto));
    overflow-x: auto;
    grid: auto / auto-flow 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 20px;
    scroll-behavior: smooth;
    scroll-padding: 0px 1px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* BUTTONS */

.button-row {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 22.5px;
    align-items: center;
    min-width: 100%;
    margin-top: 45px;
}

.button-row>a {
    display: block;
    width: fit-content;
    padding: 16px 20px;
    border-radius: 55px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
}

.button-row>a:hover {
    color: var(--color-black);
    background-color: var(--color-white);
    border: var(--border);
}

.slider-buttons {
    position: relative;
    margin: 0px auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.icon-arrow {
    background-color: var(--color-white);
    border: var(--border);
    border-radius: 55px;
    cursor: pointer;
}

.icon-arrow:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
}

.icon-arrow.arrow-left {
    transform: rotate(180deg);
}

/* CARD */

.card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    background-color: var(--color-gray);
    border-radius: 20px;
    border: var(--border);
    overflow: hidden;
    min-width: fit-content;
    max-width: calc(100vw - 33px);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 27px;
    max-width: 350px;
}

.card-image {
    aspect-ratio: 1/1;
    background-color: var(--color-secondary);
    display: flex;
    place-content: center;
    min-width: 100%;
}

.card-image img {
    height: 50%;
    margin: auto;
}

.card-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 8px 19px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0px 0px 25px 25px;
    border: var(--border);
}

.card-title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 27.5px;
    letter-spacing: 0.44px;
    margin-top: 47px;
}

.card-text {
    font-size: 1.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    letter-spacing: 0.38px;
    margin-top: 20px;
    margin-bottom: 20px
}

.card-button {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: fit-content;
    margin-top: auto;
    margin-bottom: 47px;
    cursor: pointer;
}

.card-button img {
    transition: padding-left 250ms ease-in-out;
    padding-left: 12px;
}

.card-button:hover img {
    padding-left: 24px;
}

@media (min-width: 734px) { 
    .button-row {
        display: block;
    }

    .slider-buttons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .card {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-image {
        width: 350px;
        min-width: unset;
        border-left: var(--border);
    }

    .card-image img {
        height: unset;
        width: 50%;
    }
}