:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #F1F1F1;
    --color-primary: #5900E7;
    --color-secondary: #7CE2FD;
    --border: 1px solid var(--color-black);
}

@font-face {
    font-family: "PP Object Sans";
    src:
      local("PP Object Sans"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.otf") format("opentype"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.woff") format("woff"),
      url("/assets/PPObjectSans/PPObjectSans-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    font-family: "PP Object Sans";
}

.headline {
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.56px;
    text-align: center;
    margin: 71px 0px;
}

.slider {
    display: grid;
    grid-template-rows: fit-content;
    grid-template-columns: repeat(3, minmax(0, auto));
    overflow-x: auto;
    grid: auto / auto-flow 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 20px;
    scroll-behavior: smooth;
    padding-bottom: 14px;
    scroll-padding: 0px 1px;
}

/* BUTTONS */

.button-row {
    position: relative;
    min-width: 100%;
    margin-top: 45px;
}

.button-row>a {
    display: block;
    width: fit-content;
    padding: 16px 20px;
    border-radius: 55px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.slider-buttons {
    position: absolute;
    margin: 0px auto;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.icon-arrow {
    height: 100%;
}

.icon-arrow.arrow-left {
    transform: rotate(180deg);
}

/* CARD */

.card {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray);
    border-radius: 20px;
    border: var(--border);
    overflow: hidden;
    min-width: fit-content;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0 27px;
    min-width: 300px;
    max-width: 350px;
}

.card-image {
    aspect-ratio: 1/1;
    background-color: var(--color-secondary);
    display: flex;
    place-content: center;
    border-left: var(--border);
    width: 350px;
}

.card-image img {
    height: 50%;
    margin: auto;
}

.card-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 8px 19px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0px 0px 25px 25px;
    border: var(--border);
}

.card-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
    letter-spacing: 0.44px;
    margin-top: 47px;
}

.card-text {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    letter-spacing: 0.38px;
    margin-top: 20px;
    margin-bottom: 20px
}

.card-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: auto;
    margin-bottom: 47px;
}

.card-button img {
    padding-left: 12px
}